<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>View</key>
	<dict>
		<key>PrimaryColor</key>
		<string>ydaf</string>
		<key>SearchBarColor</key>
		<string></string>
		<key>NavigationBarTintColor</key>
		<string>892152</string>
		<key>ViewBackgroundColor</key>
		<string>#752951</string>
		<key>NavigationBarTitle</key>
		<dict>
			<key>FontSize</key>
			<integer>14</integer>
			<key>Color</key>
			<string>#148142</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>Regular</key>
			<string>Futura</string>
			<key>Bold</key>
			<string>Futura-CondensedExtraBold</string>
		</dict>
		<key>Padding</key>
		<dict>
			<key>InnerPadding</key>
			<integer>10</integer>
			<key>OuterPadding</key>
			<integer>20</integer>
		</dict>
		<key>Height</key>
		<dict>
			<key>CardHeight</key>
			<integer>200</integer>
			<key>HeaderHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
	<key>Card</key>
	<dict>
		<key>CardBackgroundColor</key>
		<string>#7d7a7d</string>
		<key>CardShadowColor</key>
		<string>#0d0d0d</string>
		<key>CardBorderColor</key>
		<string>#cdcdcd</string>
		<key>CardCornerRadius</key>
		<integer>2</integer>
		<key>CardShadowRadius</key>
		<integer>2</integer>
		<key>CardBorderWidth</key>
		<integer>1</integer>
		<key>CardShadowOffset</key>
		<dict>
			<key>Width</key>
			<integer>2</integer>
			<key>Height</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>SeeAll</key>
		<dict>
			<key>Color</key>
			<string>#cdcdcd</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>MerchantTitle</key>
		<dict>
			<key>Color</key>
			<string>#9d939d</string>
			<key>FontSize</key>
			<integer>20</integer>
		</dict>
		<key>ExpiryText</key>
		<dict>
			<key>Color</key>
			<string>#a6201d</string>
			<key>ExpiryColor</key>
			<string>#cdcdcd</string>
			<key>FontSize</key>
			<real>10</real>
		</dict>
		<key>MerchantTagline</key>
		<dict>
			<key>Color</key>
			<string>#8d8281</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>CampaignTitle</key>
		<dict>
			<key>Color</key>
			<string>#8d8281</string>
			<key>BoldColor</key>
			<string>#710421</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>CampaignDetail</key>
		<dict>
			<key>Color</key>
			<string>#8d8281</string>
			<key>BoldColor</key>
			<string>#710421</string>
			<key>FontSize</key>
			<integer>12</integer>
			<key>TitleFontSize</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>PageIndicator</key>
	<dict>
		<key>PageSelectedColor</key>
		<string>#7d9a0dee</string>
		<key>PageUnselectedColor</key>
		<string>#91841052</string>
		<key>PageIndicatorDiameter</key>
		<integer>10</integer>
		<key>PageIndicatorSpace</key>
		<integer>2</integer>
	</dict>
	<key>Tab</key>
	<dict/>
</dict>
</plist>
