<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>View</key>
	<dict>
		<key>PrimaryColor</key>
		<string>ydaf</string>
		<key>PrimaryDarkColor</key>
		<string>#dea9f0</string>
		<key>SearchBarColor</key>
		<string></string>
		<key>NavigationBarTintColor</key>
		<string>892152</string>
		<key>ViewBackgroundColor</key>
		<string>#ffeeff</string>
		<key>NavigationBarTitle</key>
		<dict>
			<key>FontSize</key>
			<integer>14</integer>
			<key>Color</key>
			<string>#148142</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>Regular</key>
			<string>Fuutura</string>
			<key>Bold</key>
			<string>Futura-CuondensedExtraBold</string>
		</dict>
		<key>Padding</key>
		<dict>
			<key>InnerPadding</key>
			<integer>4</integer>
			<key>OuterPadding</key>
			<integer>2</integer>
		</dict>
		<key>Height</key>
		<dict>
			<key>CardHeight</key>
			<integer>250</integer>
			<key>HeaderHeight</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>Card</key>
	<dict>
		<key>CardBackgroundColor</key>
		<string>#feffff</string>
		<key>CardShadowColor</key>
		<string>#0d0d0d</string>
		<key>CardBorderColor</key>
		<string>#cdcdcd</string>
		<key>CardCornerRadius</key>
		<integer>2</integer>
		<key>CardShadowRadius</key>
		<integer>2</integer>
		<key>CardBorderWidth</key>
		<integer>1</integer>
		<key>CardShadowOffset</key>
		<dict>
			<key>Width</key>
			<integer>2</integer>
			<key>Height</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>SeeAll</key>
		<dict>
			<key>Color</key>
			<string>#cdcdcd</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>MerchantTitle</key>
		<dict>
			<key>Color</key>
			<string>#9d939d</string>
			<key>FontSize</key>
			<integer>20</integer>
		</dict>
		<key>ExpiryText</key>
		<dict>
			<key>Color</key>
			<string>#a6201d</string>
			<key>ExpiryColor</key>
			<string>#cdcdcd</string>
			<key>FontSize</key>
			<real>10</real>
		</dict>
		<key>MerchantTagline</key>
		<dict>
			<key>Color</key>
			<string>#8d8281</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>CampaignTitle</key>
		<dict>
			<key>Color</key>
			<string>#8d8281</string>
			<key>BoldColor</key>
			<string>#710421</string>
			<key>FontSize</key>
			<integer>14</integer>
		</dict>
		<key>CampaignDetail</key>
		<dict>
			<key>Color</key>
			<string>#8d8281</string>
			<key>BoldColor</key>
			<string>#710421</string>
			<key>FontSize</key>
			<integer>16</integer>
			<key>TitleFontSize</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>PageIndicator</key>
	<dict>
		<key>PageSelectedColor</key>
		<string>#7d9a0dee</string>
		<key>PageUnselectedColor</key>
		<string>#918415</string>
		<key>PageIndicatorDiameter</key>
		<integer>6</integer>
		<key>PageIndicatorSpace</key>
		<integer>3</integer>
	</dict>
	<key>Tab</key>
	<dict>
		<key>ViewBackgroundColor</key>
		<string>#feffff</string>
		<key>MenuHeight</key>
		<integer>40</integer>
		<key>MenuMargin</key>
		<dict>
			<key>X</key>
			<integer>4</integer>
			<key>Y</key>
			<integer>4</integer>
		</dict>
		<key>MenuItemLabelColor</key>
		<dict>
			<key>Selected</key>
			<string>#000000</string>
			<key>Unselected</key>
			<string>#dd88dd</string>
		</dict>
		<key>MenuItemBackgroundColor</key>
		<dict>
			<key>Selected</key>
			<string>#dd88dd</string>
			<key>Unselected</key>
			<string>#6d56d3</string>
		</dict>
		<key>MenuItemBorderColor</key>
		<dict>
			<key>Selected</key>
			<string>#1e0010</string>
			<key>Unselected</key>
			<string>#de87d2</string>
		</dict>
		<key>MenuItemBorderWidth</key>
		<real>1.2</real>
		<key>MenuItemFontSize</key>
		<integer>14</integer>
		<key>ScrollAnimation</key>
		<integer>1000</integer>
	</dict>
</dict>
</plist>
