<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>View</key>
	<dict>
		<key>PrimaryColor</key>
		<string>c61726</string>
		<key>PrimaryDarkColor</key>
		<string>#dea9f0</string>
		<key>SearchBarColor</key>
		<string>c61726</string>
		<key>NavigationBarTintColor</key>
		<string>c61726</string>
		<key>ViewBackgroundColor</key>
		<string>f1f2f3</string>
		<key>NavigationBarImage</key>
		<string>bg_navbar</string>
		<key>NavigationBarTitle</key>
		<dict>
			<key>FontSize</key>
			<integer>14</integer>
			<key>Color</key>
			<string>#ffffff</string>
		</dict>
		<key>Font</key>
		<dict>
			<key>Regular</key>
			<string>Montserrat-Light</string>
			<key>Bold</key>
			<string>Montserrat-SemiBold</string>
		</dict>
		<key>Padding</key>
		<dict>
			<key>InnerPadding</key>
			<integer>10</integer>
			<key>OuterPadding</key>
			<integer>2</integer>
		</dict>
		<key>Height</key>
		<dict>
			<key>CardHeight</key>
			<integer>240</integer>
			<key>HeaderHeight</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>Card</key>
	<dict>
		<key>CardBackgroundColor</key>
		<string>#feffff</string>
		<key>CardShadowColor</key>
		<string>#e9eaeb</string>
		<key>CardBorderColor</key>
		<string>#e9eaeb</string>
		<key>CardCornerRadius</key>
		<integer>2</integer>
		<key>CardShadowRadius</key>
		<integer>2</integer>
		<key>CardBorderWidth</key>
		<integer>1</integer>
		<key>CardShadowOffset</key>
		<dict>
			<key>Width</key>
			<integer>2</integer>
			<key>Height</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>SeeAll</key>
		<dict>
			<key>Color</key>
			<string>#c61726</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>MerchantTitle</key>
		<dict>
			<key>Color</key>
			<string>#242425</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>ExpiryText</key>
		<dict>
			<key>Color</key>
			<string>#939495</string>
			<key>ExpiredColor</key>
			<string>#cdcdcd</string>
			<key>FontSize</key>
			<real>10</real>
		</dict>
		<key>MerchantTagline</key>
		<dict>
			<key>Color</key>
			<string>#8d8281</string>
			<key>FontSize</key>
			<integer>12</integer>
		</dict>
		<key>CampaignTitle</key>
		<dict>
			<key>Color</key>
			<string>#262426</string>
			<key>BoldColor</key>
			<string>#c41826</string>
			<key>FontSize</key>
			<integer>14</integer>
		</dict>
		<key>CampaignDetail</key>
		<dict>
			<key>Color</key>
			<string>#b4b6b6</string>
			<key>TitleColor</key>
			<string>#000000</string>
			<key>BankOfferColor</key>
			<string>fb8a24</string>
			<key>FontSize</key>
			<integer>12</integer>
			<key>TitleFontSize</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>PageIndicator</key>
	<dict>
		<key>PageSelectedColor</key>
		<string>#7d9a0dee</string>
		<key>PageUnselectedColor</key>
		<string>#918415</string>
		<key>PageIndicatorDiameter</key>
		<integer>6</integer>
		<key>PageIndicatorSpace</key>
		<integer>3</integer>
	</dict>
	<key>Tab</key>
	<dict>
		<key>ViewBackgroundColor</key>
		<string>fafbfd</string>
		<key>MenuHeight</key>
		<integer>30</integer>
		<key>MenuMargin</key>
		<dict>
			<key>X</key>
			<integer>4</integer>
			<key>Y</key>
			<integer>4</integer>
		</dict>
		<key>MenuItemLabelColor</key>
		<dict>
			<key>Selected</key>
			<string>#ffffff</string>
			<key>Unselected</key>
			<string>#71696b</string>
		</dict>
		<key>MenuItemBackgroundColor</key>
		<dict>
			<key>Selected</key>
			<string>1379c0</string>
			<key>Unselected</key>
			<string>feffff</string>
		</dict>
		<key>MenuItemBorderColor</key>
		<dict>
			<key>Selected</key>
			<string>1379c0</string>
			<key>Unselected</key>
			<string>#eff0f2</string>
		</dict>
		<key>MenuItemBorderWidth</key>
		<real>0.65</real>
		<key>MenuItemFontSize</key>
		<integer>12</integer>
		<key>ScrollAnimation</key>
		<integer>500</integer>
	</dict>
</dict>
</plist>
